@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">@ViewData["EnvTitle"]</h1>
            <p class="lead">Test site running from github and azure-devops playground. </p></p>
        </div>
    </div>
